.offer
	&-wrapper
		position: relative
		z-index: 1
		+adap('min-height', 422, 280)
		+adap('padding-block', 32, 24)
		+adap('padding-inline', 40, 16)
		display: grid
		grid-template-columns: 1fr auto 
		+adap('gap', 40, 20)
		align-items: center

		background: #eef1f4
		+adap('border-radius', 20, 16)

	&__left
		+adap('max-width', 740, 340)

	&__title 
		+adap('margin-bottom', 20, 16)

	&__subtitle 
		+adap('margin-bottom', 80, 16)
		+adap('font-size', 20, 16)


	&__img 
		+adap('width', 627, minusPercent(70, 627))
		+adap('height', 368, minusPercent(70, 368))
		
		img 
			+adap('border-radius', 20, 16)


	@media (max-width: 991px)
		&-wrapper
			grid-template-columns: 100%

		&__img 
			width: 100% 










































































































